<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CloseSegueSample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9A0F255E1D1BA0F800290666</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A0F25721D1BA0F800290666</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A0F257D1D1BA0F800290666</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
